html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

    .container h1 {
        text-align: center;
        margin-bottom: 20px;
    }

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #0056b3;
    }
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px; /* Aumenta el espacio entre h1 y el contenido siguiente */
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 30px; /* Aumenta el espacio entre h2 y el contenido anterior */
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center; /* Centra los elementos de la lista */
}

li {
    margin-bottom: 10px; /* Aumenta el espacio entre elementos de lista */
}