html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    margin-bottom: 60px; 
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px; 
    margin-top: 30px; 
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center; 
}

li {
    margin-bottom: 10px; 
}

section {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; 
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: blue;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #0056b3;
    }

.error-message {
    color: red;
    font-size: 12px;
}
.text-center {
    text-align: center;
    margin-top: 20px;
}

.formulario-luces {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .formulario-luces h1 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    .formulario-luces form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulario-luces section {
        margin-bottom: 15px;
    }

    .formulario-luces label {
        font-weight: bold;
        margin-right: 10px;
    }

    .formulario-luces input[type="text"],
    .formulario-luces input[type="number"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: calc(100% - 20px);
        margin-top: 5px;
        box-sizing: border-box;
    }

    .formulario-luces .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }

    .formulario-luces button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 10px;
    }

        .formulario-luces button:ho

