@model List<Ejercicio1.Api.PatronLuces>

<section>
    <h1>Patrones de luces</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Inc_Baja_Izq_1</th>
                <th>Int_Baja_Izq_1</th>
                <th>Int_Baja_Der_1</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Inc_Baja_Izq_1</td>
                        <td>@item.Int_Baja_Izq_1</td>
                        <td>@item.Int_Baja_Der_1</td>
                        <td>
                            <a href="Medicion/@item.Id">Seleccionar</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No hay patrones disponibles.</td>
                </tr>
            }
        </tbody>
    </table>
</section>

